<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>
        <a href="{% url 'textEdit:index' %}"> Index </a> -
        <a href="{% url 'textEdit:topics' %}"> Topics</a> -
        {% if user.is_authenticated %}
            Hello, {{ user.username }}. -
            <a href="{% url 'users:logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'users:register' %}">Register</a> -
            <a href="{% url 'users:login' %}">Log in</a>
        {% endif %}
    </h3>
    {% block content %} {% endblock content %}
</body>
</html>